# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Dynamic library directories
x11/
osx/
win64/

# Executables
*.exe
*.out
*.app

# Scons
.sconsign.dblite
